@charset "UTF-8";

.l-row {
    clear: both;
}

.l-cell {
    float: left;
    width: 100px;
    padding: 2px;
}

.text {
    width: 100%;
}

.input {
    box-sizing: border-box;
    width: 100%;
}

.button {
    width: 100%;
}